/*main {
display: flex;
justify-content: space-between;
border-style: dashed;
border-width: 2px;
border-color: red;
margin: 100px;
height: 500px;
width: 90%;
}

body {
  background-color: lightblue;
}

/*div {
width: 2px;
height: 3px;
border-style:*/
/*}*/

body {
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 32px;
 /*background-color: lightblue;*/
background-image: url("https://dncache-mauganscorp.netdna-ssl.com/thumbseg/300/300920-bigthumbnail.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#hang {
 padding-left: 125px;
 width: 400px;
 height: 450px;
}

#cat {
 position: absolute;
 bottom: 135px;
 left: 368px;
 width: 180px;
 height: 315px;
}
/*
header {
 border: 1px solid magenta;
 width: 750px;
 height: 500px;
 margin: 10px 50px;
 display: block;
}*/

#lettersWrong {
 position: absolute;
 bottom: 550px;
 right: 20px;
 font-size:25px;
 color: magenta;
}

header div {
 text-align: center;
 color: red;
}

main {
 display: flex;
 justify-content: space-between;
 width: 60%;
 margin-left: 60px;
 padding-bottom: 150px;
}

section {
 display: inline-block;
 text-align: center;
 font-size: 38px;
 height: 35px;
 width: 40px;
 padding: 5px;
 border-bottom: 2px solid black;
}

button {
  width: 50px;
  height: 70px;
  font-size: 30px;
}
#hint {
  width: 80px;
  height: 70px;
}
p {
  color: lightblue;
}
